pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Filename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "raw",
							"wildcardFileName": {
								"value": "@variables('file_name')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "CosmosDbMongoDbApiSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": true
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							},
							"path": "logs"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"path": "NAME"
								}
							},
							{
								"source": {
									"name": "SSN",
									"type": "String"
								},
								"sink": {
									"path": "SSN"
								}
							},
							{
								"source": {
									"name": "CreditCardNumber",
									"type": "String"
								},
								"sink": {
									"path": "CREDITCARDNO"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CosmosDbMongoDbCollection1",
						"type": "DatasetReference",
						"parameters": {
							"coll_name": {
								"value": "@split(variables('file_name'),'.')[0]",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"file_name": {
				"type": "String",
				"defaultValue": "none"
			},
			"coll_name": {
				"type": "String",
				"defaultValue": "none"
			}
		},
		"annotations": []
	}
}